<!-- ###################### -->
<!-- #### START FOOTER #### -->
<!-- ###################### -->

<br /><br />

<p>Yours sincerely,</p>
<p>|SENDER_FULL_NAME|</p>

<table width="100%">
<tr>
    <td width="60%">By:</td>
<!--calypso>
if (|SENDER_SIGNATURE| != "") {
   inline "<td width='38%'>|SENDER_SIGNATURE|</td>";
} else {
   inline "<td width='38%'>_____________________________________</td>";
}
</calypso-->
</tr>
<tr>
    <td width="60">Name:</td>
    <td>|SENDER_CONTACT_NAME|</td>
</tr>
<tr>
    <td width="60">Title:</td>
    <td>|SENDER_TITLE|</td>
</tr>
</table>

<br /><br />


</body>

<!-- #################### -->
<!-- #### END FOOTER #### -->
<!-- #################### -->

</html>
