<!--calypso>
    include "ClearingStatementHeader.html";
</calypso-->

<h1>Statement on |STATEMENT_DATE| for |CPTY|</h1>

<h2>Financial Summary</h2>

<table id="FINSUM">
<tr class="HEADER">
 <td>&nbsp;</td>
 |CLEARING_CURRENCIES_ROW|
 <td class=\"TOTAL-USD\">Total in |CLEARING_CURRENCY|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">Beginning Cash Balance</td>
 |OPEN_CASH_BY_CURRENCY_ROW|
 <td class="STARTING_BALANCE">|TOTAL_OPEN_CASH|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">&nbsp;&nbsp;&nbsp;Commissions/Fees</td>
 |CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#COMMISSION#TERM_FEES#CONSIDERATN|
 <td class="COMMISSION-TERM_FEES">|TOTAL_CLEARING_TRANSFER_FEES#COMMISSION#TERM_FEES#CONSIDERATN|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">&nbsp;&nbsp;&nbsp;PAI</td>
 |CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#PAI|
 <td class="PAI">|TOTAL_CLEARING_TRANSFER_FEES#PAI|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">&nbsp;&nbsp;&nbsp;Future Coupons</td>
 |CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#COUPON#CASH_DELIVERY|
 <td class="INTEREST">|TOTAL_CLEARING_TRANSFER_FEES#COUPON#CASH_DELIVERY|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">&nbsp;&nbsp;&nbsp;FRA Settlements</td>
 |CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#FRA_PAYMENT|
 <td class="FRA_SETTLEMENT">|TOTAL_CLEARING_TRANSFER_FEES#FRA_PAYMENT|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">&nbsp;&nbsp;&nbsp;Upfront Fees</td>
 |CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#UPFRONT_FEES|
 <td class="UPFRONT_FEES">|TOTAL_CLEARING_TRANSFER_FEES#UPFRONT_FEES|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">&nbsp;&nbsp;&nbsp;Cash Movements</td>
 |CASH_ACTIVITIES_BY_CURRENCY_ROW#COLLATERAL#SUBSTITUTION|
 <td class="COLLATERAL-SUBSTITUTION">|TOTAL_CASH_ACTIVITIES#COLLATERAL#SUBSTITUTION|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">Ending Cash Balance</td>
 |ENDING_CASH_BALANCE_BY_CURRENCY_ROW#COLLATERAL#SUBSTITUTION|
 <td class="CLOSING_BALANCE">|TOTAL_ENDING_CASH_BALANCE#COLLATERAL#SUBSTITUTION|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">&nbsp;&nbsp;&nbsp;Mark to Market</td>
 |CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#VARIATION_MARGIN|
 <td class="VARIATION_MARGIN">|TOTAL_CLEARING_TRANSFER_FEES#VARIATION_MARGIN|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">Total Equity</td>
 |TOTAL_EQUITY_BY_CURRENCY_ROW|
 <td class="TOTAL_EQUITY">|TOTAL_EQUITY|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">&nbsp;&nbsp;&nbsp;Pending Commissions/Fees</td>
 |PENDING_CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#COMMISSION#TERM_FEES#CONSIDERATN|
 <td class="COMMISSION-TERM_FEES">|PENDING_TOTAL_CLEARING_TRANSFER_FEES#COMMISSION#TERM_FEES#CONSIDERATN|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">Pending PAI</td>
 |PENDING_CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#PAI|
 <td class="PAI">|PENDING_TOTAL_CLEARING_TRANSFER_FEES#PAI|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">Pending Future Coupons</td>
 |PENDING_CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#COUPON#CASH_DELIVERY|
 <td class="INTEREST">|PENDING_TOTAL_CLEARING_TRANSFER_FEES#COUPON#CASH_DELIVERY|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">&nbsp;&nbsp;&nbsp;Pending FRA Settlements</td>
 |PENDING_CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#FRA_PAYMENT|
 <td class="FRA_SETTLEMENT">|PENDING_TOTAL_CLEARING_TRANSFER_FEES#FRA_PAYMENT|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">Pending Upfront Fees</td>
 |PENDING_CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#UPFRONT_FEES|
 <td class="UPFRONT_FEES">|PENDING_TOTAL_CLEARING_TRANSFER_FEES#UPFRONT_FEES|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">Pending Cash Movements</td>
 |PENDING_CASH_ACTIVITIES_BY_CURRENCY_ROW#COLLATERAL#SUBSTITUTION|
 <td class="COLLATERAL-SUBSTITUTION">|PENDING_TOTAL_CASH_ACTIVITIES#COLLATERAL#SUBSTITUTION|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">Pending Daily VM</td>
 |PENDING_CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW#VARIATION_MARGIN|
 <td class="VARIATION_MARGIN">|PENDING_TOTAL_CLEARING_TRANSFER_FEES#VARIATION_MARGIN|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">Total Pending Cash</td>
 |PENDING_CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW_INTERMEDIATE_RESULT#PAI#COUPON#CASH_DELIVERY#UPFRONT_FEES#VARIATION_MARGIN#FRA_PAYMENT#COMMISSION#TERM_FEES#CONSIDERATN||PENDING_CASH_ACTIVITIES_BY_CURRENCY_ROW_INTERMEDIATE_RESULT#COLLATERAL#SUBSTITUTION||CALCULATE_SUM_BY_CURRENCY|
 <td class="PENDING_CASH">|PENDING_TOTAL_CLEARING_TRANSFER_FEES_INTERMEDIATE_RESULT#PAI#COUPON#CASH_DELIVERY#UPFRONT_FEES#VARIATION_MARGIN#FRA_PAYMENT#COMMISSION#TERM_FEES#CONSIDERATN||PENDING_TOTAL_CASH_ACTIVITIES_INTERMEDIATE_RESULT#COLLATERAL#SUBSTITUTION||CALCULATE_SUM|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">Total Equity plus Pending Cash</td>
 |PENDING_CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW_INTERMEDIATE_RESULT#PAI#COUPON#CASH_DELIVERY#UPFRONT_FEES#VARIATION_MARGIN#FRA_PAYMENT#COMMISSION#TERM_FEES#CONSIDERATN||PENDING_CASH_ACTIVITIES_BY_CURRENCY_ROW_INTERMEDIATE_RESULT#COLLATERAL#SUBSTITUTION||TOTAL_EQUITY_BY_CURRENCY_ROW_INTERMEDIATE_RESULT#Closing Balance||CALCULATE_SUM_BY_CURRENCY|
 <td class="PENDING_CASH_TOTAL_EQUITY">|PENDING_TOTAL_CLEARING_TRANSFER_FEES_INTERMEDIATE_RESULT#PAI#COUPON#CASH_DELIVERY#UPFRONT_FEES#VARIATION_MARGIN#FRA_PAYMENT#COMMISSION#TERM_FEES#CONSIDERATN||PENDING_TOTAL_CASH_ACTIVITIES_INTERMEDIATE_RESULT#COLLATERAL#SUBSTITUTION||TOTAL_EQUITY_INTERMEDIATE_RESULT#Closing Balance||CALCULATE_SUM|</td>
</tr>
<!--calypso>
if (|IS_MULTI_PRODUCT_CCP#IRD#CME| == "true")
	inline "
<tr class=\"ROW1\">
 <td class=\"FINSUM_HEADER\">Initial Margin CME IRS</td>
 |INITIAL_MARGIN_CME_IRS_BY_CURRENCY_ROW|
 <td class=\"INITIAL_MARGIN\">|TOTAL_INITIAL_MARGIN_CME_IRS|</td>
</tr>
";
</calypso-->
<!--calypso>
if (|IS_MULTI_PRODUCT_CCP#IRD#LCH| == "true")
	inline "
<tr class=\"ROW0\">
 <td class=\"FINSUM_HEADER\">Initial Margin LCH IRS</td>
 |INITIAL_MARGIN_LCH_IRS_BY_CURRENCY_ROW|
 <td class=\"INITIAL_MARGIN\">|TOTAL_INITIAL_MARGIN_LCH_IRS|</td>
</tr>
";
</calypso-->
<!--calypso>
if (|IS_MULTI_PRODUCT_CCP#NDF#CME| == "true")
	inline "
<tr class=\"ROW1\">
 <td class=\"FINSUM_HEADER\">Initial Margin CME NDF</td>
 |INITIAL_MARGIN_CME_NDF_BY_CURRENCY_ROW|
 <td class=\"INITIAL_MARGIN\">|TOTAL_INITIAL_MARGIN_CME_NDF|</td>
</tr>
";
</calypso-->
<tr class="ROW1">
 <td class="FINSUM_HEADER">Total Initial Margin</td>
 |INITIAL_MARGIN_BY_CURRENCY_ROW|
 <td class="INITIAL_MARGIN">|TOTAL_INITIAL_MARGIN|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">Market Value of Securities Collateral</td>
 |SECURITY_COLLATERAL_VALUE_ROW|
 <td class="COLLATERAL">|TOTAL_SECURITY_COLLATERAL_VALUE|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">Market Value of Cash Collateral (IM)</td>
 |IM_CASH_COLLATERAL_VALUE_ROW|
 <td class="COLLATERAL">|TOTAL_IM_CASH_COLLATERAL_VALUE|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">Total of IM Collateral (cash and non-cash)</td>
 |TOTAL_IM_COLLATERAL_VALUE_ROW|
 <td class="COLLATERAL">|TOTAL_IM_COLLATERAL|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">Market Value of Cash Collateral (VM)</td>
 |VM_CASH_COLLATERAL_VALUE_ROW|
 <td class="COLLATERAL">|TOTAL_VM_CASH_COLLATERAL_VALUE|</td>
</tr>
<!--calypso>
if (|IS_IM_VM_SEPARATED| == "true")
	inline "
<tr class=\"ROW1\">
 <td class=\"FINSUM_HEADER\">IM Margin Call/Excess</td>
 |IM_MARGIN_CALL_EXCESS_ROW|
 <td class=\"MARGIN_CALL_EXCESS\">|TOTAL_IM_MARGIN_CALL_EXCESS|</td>
</tr>
";
</calypso-->
<!--calypso>
if (|IS_IM_VM_SEPARATED| == "true")
	inline "
<tr class=\"ROW0\">
 <td class=\"FINSUM_HEADER\">VM Margin Call/Excess</td>
 |VM_MARGIN_CALL_EXCESS_ROW|
 <td class=\"MARGIN_CALL_EXCESS\">|TOTAL_VM_MARGIN_CALL_EXCESS|</td>
</tr>
";
</calypso-->
<!--calypso>
if (|IS_IM_VM_SEPARATED| == "false")
	inline "
<tr class=\"ROW1\">
 <td class=\"FINSUM_HEADER\">Margin Call/Excess</td>
 |TOTAL_EQUITY_BY_CURRENCY_ROW_INTERMEDIATE_RESULT#Closing Balance|COMBINED_MARGIN_CALL_EXCESS_ROW|
 <td class=\"MARGIN_CALL_EXCESS\">|TOTAL_EQUITY_INTERMEDIATE_RESULT#Closing Balance||TOTAL_COMBINED_MARGIN_CALL_EXCESS|</td>
</tr>
";
</calypso-->
<tr class="ROW0">
 <td class="FINSUM_HEADER">Account Liquidation Value</td>
 |ACCOUNT_LIQUIDATION_VALUE_ROW|
 <td class="ACCOUNT_LIQUIDATION">|TOTAL_ACCOUNT_LIQUIDATION_VALUE|</td>
</tr>
<tr class="ROW1">
 <td class="FINSUM_HEADER">Net Margin Requirement/Excess</td>
 |PENDING_CLEARING_TRANSFER_FEES_BY_CURRENCY_ROW_INTERMEDIATE_RESULT#PAI#COUPON#CASH_DELIVERY#UPFRONT_FEES#VARIATION_MARGIN#FRA_PAYMENT#COMMISSION#TERM_FEES#CONSIDERATN||PENDING_CASH_ACTIVITIES_BY_CURRENCY_ROW_INTERMEDIATE_RESULT#COLLATERAL#SUBSTITUTION||TOTAL_EQUITY_BY_CURRENCY_ROW_INTERMEDIATE_RESULT#Closing Balance||NET_MARGIN_REQUIREMENT_EXCESS_ROW|
 <td class="MARGIN_CALL_EXCESS">|PENDING_TOTAL_CLEARING_TRANSFER_FEES_INTERMEDIATE_RESULT#PAI#COUPON#CASH_DELIVERY#UPFRONT_FEES#VARIATION_MARGIN#FRA_PAYMENT#COMMISSION#TERM_FEES#CONSIDERATN||PENDING_TOTAL_CASH_ACTIVITIES_INTERMEDIATE_RESULT#COLLATERAL#SUBSTITUTION||TOTAL_EQUITY_INTERMEDIATE_RESULT#Closing Balance||TOTAL_NET_MARGIN_REQUIREMENT_EXCESS|</td>
</tr>
<tr class="ROW0">
 <td class="FINSUM_HEADER">FX Rate</td>
 |FX_RATES_BY_CURRENCY_ROW|
 <td class=\"FX_RATE\">&nbsp;</td>
</tr>
</table>

<h2>New Trades</h2>
|NEW_TRADES|
<br>

<h2>Open Trades</h2>
|OPEN_TRADES|
<br>

<h2>Terminated Trades</h2>
|TERM_TRADES|
<br>

<h2>Account Activity</h2>
|ACCOUNT_ACTIVITY|
<br>

<h2>Margin Call Activity</h2>
|MARGIN_CALL_ALLOCATION|
<br>

<h2>Margin on Deposit</h2>
|MARGIN_CALL_POSITION|
<br>

<!--calypso>
    include "ClearingStatementFooter.html";
</calypso-->
