<!-- Start Swap FIX/FLOAT -->

<table CELLSPACING=0 BORDER=0 WIDTH=650>
<tr>
	<td width='30%'>Business Days:</td>
	<td>|FLT_CPN_HOL#PARENT_TRADE|</td>
</tr>
<tr>
	<td>Calculation Agent:</td>
	<td>|SENDER_CODE|, unless otherwise stated in the Agreement</td>
</tr>
</table>

<div style="page-break-inside:avoid">
<p class='header2'>Fixed Amounts:</p>

<!---Fixed Swap Leg Table-->

<table CELLSPACING=0 BORDER=0 WIDTH=650>
<tr>
	<td width='30%'>Fixed Rate Payer:</td>
	<td>|FIX_PAYER_CODE#PARENT_TRADE|</td>
</tr>
<tr>
	<td width="30%">Fixed Currency Amount:</td>
	<td>|FIX_NOTIONAL_CCY#PARENT_TRADE| |FIX_NOTIONAL_VALUE#NOVATED_TRADE|</td>
</tr>
<!--calypso>
if ( |FLT_CPN_OFFSET| like "0%" )
    inline "
    <tr>
        <td>Fixed Rate Payer Payment Dates:</td>
        <td>|FIX_CPN_FREQ| on the |FIX_ROLL_DAY_NB#PARENT_TRADE|, starting |FIX_FIRST_PAYMENT_DATE#PARENT_TRADE| subject to adjustment in accordance with the |FIX_CPN_DATE_ROLL#PARENT_TRADE| Business Day convention.</td>
    </tr>
    ";
else
    inline "
    <tr>
        <td width='30%'>Fixed Rate Period End Dates:</td>
        <td>|FIX_CPN_FREQ#PARENT_TRADE| on the |FIX_ROLL_DAY_NB#PARENT_TRADE|, starting |FIX_FIRST_PAYMENT_DATE#PARENT_TRADE| subject to adjustment in accordance with the |FIX_CPN_DATE_ROLL#PARENT_TRADE| Business Day convention.</td>
    </tr>
    <tr>
        <td>Payment Lag:</td>
        <td>|FLT_CPN_OFFSET_VALUE#PARENT_TRADE|  |FLT_CPN_OFFSET_DAYS#PARENT_TRADE| Days</td>
    </tr>
    ";
</calypso-->
<tr>
	<td>Fixed Rate:</td>
	<td>|FIX_FIXED_RATE#PARENT_TRADE| %</td>
</tr>
<tr>
	<td width='30%'>Fixed Rate Day Count Fraction:</td>
	<td>|FIX_DAY_COUNT#PARENT_TRADE|</td>
</tr>
</table>
<!---End Fixed Swap Leg Table-->
</div>
<div style="page-break-inside:avoid">
<p class="header2">Floating Amounts:</p>

<!---Floating Swap Leg Table-->
<table CELLSPACING=0 BORDER=0 WIDTH=650>
<tr>
	<td width='30%'>Floating Rate Payer:</td>
	<td>|FLT_PAYER_CODE#PARENT_TRADE|</td>
</tr>
<tr>
	<td width='30%'>Floating Currency Amount:</td>
	<td>|FLT_NOTIONAL_CCY#PARENT_TRADE| |FLT_NOTIONAL_VALUE#NOVATED_TRADE|</td>
</tr>
<!--calypso>
if ( |FLT_CPN_OFFSET#PARENT_TRADE| like "0%" )
    inline "
    <tr>
        <td>Floating Rate Payer Payment Dates:</td>
        <td>|FLT_CPN_FREQ#PARENT_TRADE| on the |FLT_ROLL_DAY_NB#PARENT_TRADE|, starting |FLT_FIRST_PAYMENT_DATE#PARENT_TRADE| subject to adjustment in accordance with the |FLT_CPN_DATE_ROLL#PARENT_TRADE| Business Day convention.</td>
    </tr>
    ";
else
    inline "
    <tr>
        <td>Floating Rate Period End Dates:</td>
        <td>|FLT_CPN_FREQ#PARENT_TRADE| on the |FLT_ROLL_DAY_NB#PARENT_TRADE|, starting |FLT_FIRST_PAYMENT_DATE#PARENT_TRADE| subject to adjustment in accordance with the |FLT_CPN_DATE_ROLL#PARENT_TRADE| Business Day convention.</td>
    </tr>
    <tr>
        <td>Payment Lag:</td>
        <td>|FLT_CPN_OFFSET_VALUE#PARENT_TRADE|  |FLT_CPN_OFFSET_DAYS#PARENT_TRADE| Days</td>
    </tr>
    ";
</calypso-->
<!--calypso>
if ( |FLT_MANUAL_RESET#PARENT_TRADE| == "true" )
    inline "
    <tr>
        <td>Floating Rate for Initial Calculation Period:</td>
        <td>|FLT_FIRST_RESET_RATE#PARENT_TRADE|</td>
    </tr>
    ";
</calypso-->
<tr>
	<td>Floating Rate Option:</td>
	<td>|FLT_RATE_INDEX#PARENT_TRADE|</td>
</tr>
<!--calypso>
if ( |FLT_RATE_FACTOR#PARENT_TRADE| != 1 )
    inline "
    <tr>
        <td>Rate Index Factor:</td>
        <td>|FLT_RATE_FACTOR#PARENT_TRADE|</td>
    </tr>
    ";
</calypso-->
<tr>
	<td>Designated Maturity:</td>
	<td>|FLT_INDEX_TENOR#PARENT_TRADE|</td>
</tr>
<!--calypso>

if (|PRODUCT_TYPE| == "CappedSwap")
    inline "
    <tr>
        <td>|FLT_CAP_TYPE#PARENT_TRADE| Rate:</td>
        <td>|FLT_CAP_RATE#PARENT_TRADE| %</td>
    </tr>
	<tr>
	<td>Include Spread in |FLT_CAP_TYPE#PARENT_TRADE| Rate:</td>
	<td>|FLT_INCLUDE_SPREAD#PARENT_TRADE|</td>
	</tr>
	<tr>
	<td>Exclude |FLT_CAP_TYPE#PARENT_TRADE| Rate in First Period:</td>
		<td>|FLT_EXCLUDE_FIRST_PERIOD#PARENT_TRADE|</td>
	</tr>
    ";
</calypso-->
<tr>
<tr>
	<td>Spread:</td>
<!--calypso>	
if ( |FLT_SPREAD_VALUE#PARENT_TRADE| != "None" )
    inline "
        <td>|FLT_SPREAD_VALUE#PARENT_TRADE| Basis Points</td>";
	else
	inline "
		<td>|FLT_SPREAD_VALUE#PARENT_TRADE|</td>";
</calypso-->
	</tr>
</table>
<table CELLSPACING=0 BORDER=0 WIDTH=650>
	<td>Floating Rate Day Count Fraction:</td>
	<td>|FLT_DAY_COUNT#PARENT_TRADE|</td>
</tr>
	<!--calypso>
		if ((|FLT_AVERAGING_RESET#PARENT_TRADE| == "false") && (|FLT_RATE_RESET_DAY_TIMING#PARENT_TRADE| == "At Start"))
		inline "
			<tr>	
				<td>Floating Amount I Reset Dates:</td>
				<td>The first day of each Calculation Period</td>
			</tr>";
		if ((|FLT_AVERAGING_RESET#PARENT_TRADE| == "false") && (|FLT_RATE_RESET_DAY_TIMING#PARENT_TRADE| == "In Arrears"))
		inline "
			<tr>
		<td>Floating Amount I Reset Dates:</td>
		<td>The last day of each Calculation Period</td>
	</tr>";
</calypso-->
<!--calypso>
	if (( |FLT_AVERAGING_RESET#PARENT_TRADE| == "true" ) && (|AVERAGING_FREQUENCY#PARENT_TRADE|== "DLY"))
		inline "
			<tr>
				<td>Floating Amount I Reset Dates:</td>
				<td>Each |FLT_RATE_RESET_HOL|  business days in each Calculation Period</td>
			</tr>";	
	if 	(( |FLT_AVERAGING_RESET#PARENT_TRADE| == "true" ) && (|AVERAGING_FREQUENCY#PARENT_TRADE|== "WK"))
		inline "
			<tr>
				<td>Floating Amount I Reset Dates:</td>
				<td>Each |FLT_RATE_RESET_DAY_WEK#PARENT_TRADE|, or if such day is not a |FLT_RATE_RESET_HOL#PARENT_TRADE| business day, then the next succeeding |FLT_RATE_RESET_HOL#PARENT_TRADE| during the Calculation Period</td>
			</tr>";
	if 	(( |FLT_AVERAGING_RESET#PARENT_TRADE| == "true" ) && (|AVERAGING_FREQUENCY#PARENT_TRADE|== "MTH"))
		inline "
			<tr>
				<td>Floating Amount I Reset Dates:</td>
				<td>Each |FLT_RATE_RESET_DAY_MTH#PARENT_TRADE|, or if such day is not a |FLT_RATE_RESET_HOL#PARENT_TRADE| business day, then the next succeeding |FLT_RATE_RESET_HOL#PARENT_TRADE| during the Calculation Period</td>
			</tr>";
	if ( |FLT_AVERAGING_RESET#PARENT_TRADE| == "true" )
		inline "
			<tr>	
				<td>Method of Averaging:</td>
				<td>|AVERAGING_METHOD#PARENT_TRADE|</td>
			</tr>";
if ( |FLT_COMPOUNDING#PARENT_TRADE| == "true" )
    inline "
    <tr>
		<td>Compounding Type:</td>
		<td>|FLT_COMPOUND_TYPE#PARENT_TRADE|</td>
    </tr>
    <tr>
		<td>Compounding:</td>
		<td>|FLT_COMPOUND_FREQ#PARENT_TRADE|</td>
	</tr>
    ";
</calypso-->
</table>
</p>
<!---End Floating Swap Leg Table-->
</div>
<!--calypso>
if(|HAS_PRINCIPAL_EXCHANGE#PARENT_TRADE| != "No") {
inline "<p class='header2'>Principal Exchange Schedule</p>
<table>
<tr>
	<th>Date</th>
	<th>Currency</th>
	<th>Amount</th>
	<th>Payer</th>
</tr>";
iterator("SwapPrincipalCashFlows")
	inline "<tr><td>|PRINCIPAL_EXCHANGE_DATE#PARENT_TRADE|</td>
	<td>|PRINCIPAL_EXCHANGE_CURRENCY#PARENT_TRADE|</td>
	<td>|PRINCIPAL_EXCHANGE_AMOUNT#PARENT_TRADE|</td>
	<td>|PRINCIPAL_EXCHANGE_PAYER#PARENT_TRADE|</td></tr>";
inline "</table>
<p>
Interim Exchange:<br/>
Interim Exchange Date:|RECEIVELEG_CPN_FREQ#PARENT_TRADE| on the |RECEIVELEG_ROLL_DAY#PARENT_TRADE|, starting |RECEIVELEG_FIRST_PAYMENT_DATE#PARENT_TRADE| subject to adjustment in accordance with the |RECEIVELEG_CPN_DATE_ROLL#PARENT_TRADE| Business Day convention.
</p>
";
}
</calypso-->

<!-- End Swap FIX/FLOAT -->


