<!---Start Exhibit II-E -->
<p>
<font size='2'>
The terms of the particular Transaction to which this Confirmation
relates are as follows:
</font>
</p>

<p>

<table CELLSPACING=0 BORDER=0 WIDTH=650>

<tr>
	<td WIDTH='30%' VALIGN='TOP'>
	<font SIZE='2'>Seller:</FONT>
	</td>
	<td WIDTH='70%' VALIGN='TOP'>
	<font SIZE='2'>|TRADE_SELLER_NAME|</FONT>
	</td>
</tr>

<tr>
	<td WIDTH='30%' VALIGN='TOP'>
	<font SIZE='2'>Buyer:</FONT>
	</td>
	<td WIDTH='70%' VALIGN='TOP'>
	<font SIZE='2'>|TRADE_BUYER_NAME|</FONT>
	</td>
</tr>

<tr>
	<td WIDTH='30%' VALIGN='TOP'>
	<font SIZE='2'>Date Transaction Agreed:</FONT>
	</td>
	<td WIDTH='70%' VALIGN='TOP'>
	<font SIZE='2'>|TRADE_DATE|</FONT>
	</td>
</tr>

<tr>
	<td WIDTH='30%' VALIGN='TOP'>
	<font SIZE='2'>Trade Time:</FONT>
	</td>
	<td WIDTH='70%' VALIGN='TOP'>
	<font SIZE='2'>|TRADE_TIME|</FONT>
	</td>
</tr>

<tr>
	<td WIDTH='30%' VALIGN='TOP'>
	<font SIZE='2'>Trade Venue:</FONT>
	</td>
	<td WIDTH='70%' VALIGN='TOP'>
	<font SIZE='2'>OTC</FONT>
	</td>
</tr>

<tr>
    <td WIDTH='30%' VALIGN='TOP'>
    <font SIZE='2'>Commodity:</FONT>
    </td>
    <td WIDTH='70%' VALIGN='TOP'>
    <font SIZE='2'>|COMMODITY_TYPE|</FONT>
    </td>
</tr>

<tr>
	<td WIDTH='30%' VALIGN='TOP'>
	<font SIZE='2'>Quantity:</FONT>
	</td>
	<td WIDTH='70%' VALIGN='TOP'>
	<font SIZE='2'>|COMMODITY_QUANTITY|</FONT>
	</td>
</tr>


<tr>
	<td WIDTH='30%' VALIGN='TOP'>
	<font SIZE='2'>Delivery Date:</FONT>
	</td>

	<td WIDTH='70%' VALIGN='TOP'>
	<font SIZE='2'>|COMMODITY_DELIVERY_DATE|</FONT>
	</td>
</tr>

<tr>
	<td WIDTH='30%' VALIGN='TOP'>
	<font SIZE='2'>Commodity Price:</FONT>
	</td>
	<td WIDTH='70%' VALIGN='TOP'>
	<font SIZE='2'>|COMMODITY_PRICE|</FONT>
	</td>
</tr>

<tr>
	<td WIDTH='30%' VALIGN='TOP'>
	<font SIZE='2'>Total Amount:</FONT>
	</td>
	<td WIDTH='70%' VALIGN='TOP'>
	<font SIZE='2'>|TRADE_SETTLECCY| |COMMODITY_SETTLEMENT_AMT|</FONT>
	</td>
</tr>

<tr>
	<td WIDTH='30%' VALIGN='TOP'>
	<font SIZE='2'>Broker(if Applicable)</FONT>
	</td>
	<td WIDTH='70%' VALIGN='TOP'>
	<font SIZE='2'>|BROKER_FULL_NAME|</FONT>
	</td>
</tr>


<tr>
	<td WIDTH='30%' VALIGN='TOP'>
	<font SIZE='2'>Payment Date:</FONT>
	</td>
	<td WIDTH='70%' VALIGN='TOP'>
	<font SIZE='2'>|COMMODITY_PAYMENT_DATE|</FONT>
	</td>
</tr>



</table>
</p>

<!---End Exhibit II-E -->
