<tr>
    <td class="smallfont">|SUB_ID|</td>
    <td class="smallfont">|TRADE_BUYER_NAME|</td>
    <td class="smallfont">|TRADE_SELLER_NAME|</td>
    <td class="smallfont">|FXOPTION_TYPE| / |FXOPTION_STYLE|</td>
    <td class="smallfont">|FXOPTION_BUY_CURRENCY| |FXOPTION_BUY_AMOUNT|</td>
    <td class="smallfont">|FXOPTION_SELL_CURRENCY| |FXOPTION_SELL_AMOUNT|</td>
    <td class="smallfont">|FXOPTION_STRIKE|</td>
    <td class="smallfont">|FXOPTION_KNOCKINOUT_LEVEL|</td>
    <td class="smallfont">|FXOPTION_EXPIRY_DATETIME|</td>
    <td class="smallfont">|FXOPTION_DELIVERY_DATE|</td>
    <td class="smallfont">|PREMIUM_CURRENCY| |PREMIUM_AMOUNT|</td>
</tr>
