<p>
<h3>Termination Trade Keywords</h3>

<b>Terminated Trade</b>
<br>REPORT#TRADE_KEYWORD.TerminationDate : |REPORT#TRADE_KEYWORD.TerminationDate|
<br>REPORT#TRADE_KEYWORD.TerminationPayIntFlow : |REPORT#TRADE_KEYWORD.TerminationPayIntFlow|
<br>REPORT#TRADE_KEYWORD.TerminationReason : |REPORT#TRADE_KEYWORD.TerminationReason|
<br>REPORT#TRADE_KEYWORD.TerminationTradeDate : |REPORT#TRADE_KEYWORD.TerminationTradeDate|
<br>REPORT#TRADE_KEYWORD.TerminationType : |REPORT#TRADE_KEYWORD.TerminationType|
<br>REPORT#TRADE_KEYWORD.TransferTo : |REPORT#TRADE_KEYWORD.TransferTo|

<br><br><b>Novation keywords</b>
<br>REPORT#TRADE_KEYWORD.Novation_Remaining : |REPORT#TRADE_KEYWORD.Novation_Remaining|
<br>REPORT#TRADE_KEYWORD.Novation_Transfer_Role : |REPORT#TRADE_KEYWORD.Novation_Transfer_Role|
<br>REPORT#TRADE_KEYWORD.Novation_Transferee : |REPORT#TRADE_KEYWORD.Novation_Transferee|
<br>REPORT#TRADE_KEYWORD.Novation_Transferor : |REPORT#TRADE_KEYWORD.Novation_Transferor|

<br><br><b>Transfered Trade</b>
<br>REPORT#TRADE_KEYWORD.TerminationPayIntFlow : |REPORT#TRADE_KEYWORD.TerminationPayIntFlow|
<br>REPORT#TRADE_KEYWORD.TransferDate : |REPORT#TRADE_KEYWORD.TransferDate|
<br>REPORT#TRADE_KEYWORD.TransferFrom : |REPORT#TRADE_KEYWORD.TransferFrom|
<br>REPORT#TRADE_KEYWORD.TransferTradeDate : |REPORT#TRADE_KEYWORD.TransferTradeDate|

</p>
